.icon {
  margin-right: 4px;
}

.list {

  margin-left: 12px;
  margin-right: 124px;
}
.list-item {
  cursor: pointer;
  &:nth-child(1) {
    color: #923939;
  }
  &:nth-child(2) {
    color: #423992;
  }
  &:nth-child(3) {
    color: #552762;
  }
  &:nth-child(4) {
    color: #596728;
  }
}


.title {
  text-align: center;
  margin-top: 16px;
}
